* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.wrap {
	height: 640px;
	margin: 0 auto;
	position: relative;
	width: 1080px;
}

/* ### header ### */

.header {
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.header .title {
	float: left;
	font-size: 32px;
	padding-left: 10px;
}

.header .name {
	font-size: 21px;
	padding-right: 15px;
}

.nav {
	margin-right: 20px;
}

/* ### header ### */

/* ### msg_main ### */
.msg_main {
	border: solid 2px #c0c0c0;
	height: 610px;
	margin-bottom: 20px;
	overflow: hidden;
}

.msg_list {
	height: 550px;
	margin-bottom: 10px;
	overflow-y: scroll;
}

#msg_list {
	width: 100%;
}

#msg_list tr {
	vertical-align: top;
	width: auto;
}
#msg_list td {
	list-style: none;
	padding: 10px 10px 0 10px;
	width: 550px;
}
#msg_list .name {
	text-align: center;
	width: 10%;
}
#msg_list .message {
	text-align: left;
	width: 70%;
}
#msg_list .create_time {
	text-align: center;
	width: 20%;
}

/* sendボタン　*/

.msg_main form {
	padding-left: 20px;
	padding-right: 20px;
}
.msg_main .message {
	padding-left: 15px;
	padding-top: 5px;
}
.msg_main .text {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 87%;
}
.msg_main .button {
	background-color: #c0c0c0;
	color: white;
	margin-left: 10px;
	width: 88px;
}

/* sendボタン　*/
/* ### msg_main ### */
