* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.wrap {
	height: 640px;
	margin: 0 auto;
	position: relative;
	width: 1080px;
}

/* ### header ### */

.header {
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.header .title {
	float: left;
	font-size: 32px;
	padding-left: 10px;
}

.header .name {
	font-size: 21px;
	padding-right: 15px;
}

.nav {
	margin-right: 20px;
}

/* ### header ### */

/* ### msg_main ### */
#msg_list li {
	list-style: none;
}
/* ### msg_main ### */
